.TransportationField {
    display: flex;
    margin: 36px 7%;
    width: 86%;
}
.dIVbOX{
    margin: 40px 7%;
}

.Transportation_first {
    display: flex;
    flex-direction: column;
    width: calc(55%);
}

.Transportation_firstTop {
    height: 150px;
    width: 100%;
    background: linear-gradient(93.14deg, rgba(0, 0, 0, 0.78) -4.83%, rgba(0, 0, 0, 0.31) 100.6%);
}

.Transportation_firstTop>img {
    position: absolute;
    width: calc(46.3%);
    height: 150px;
    z-index: -1;
}

.Transportation_firstTop>h1 {
    font-family: 'Futura Hv BT';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    padding: 12px 0 0 12px;
    color: #FFFFFF;
}

.Transportation_firstSec {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    background: #F9F9F9;
}

.Transportation_firstSec>h2 {
    font-family: 'Futura Hv BT';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
}

.Transportation_firstSec_But>button {
    width: 140px;
    height: 48px;
    outline: none;
    background: #EFEFEF;
    border: 1px solid #E6E6E6;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.Transportation_firstThird {
    padding: 0 20% 0 25px;
    font-family: 'Futura Bk BT';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    background: #F9F9F9;
    color: #535353;
    padding-bottom: 38px;
}

.Transportation_Second {
    width: 45%;
    margin-left: 2%;
    /* margin-left: 2%; */
}

.Transportation_Second>iframe {
    width: 100%;
    height: 400px;
    /* margin-left: 2%; */
}

@media(max-width:900px) {
    .dIVbOX{
        display: flex;
        justify-content: center;
        margin: 20px 2%;
        align-items: center;
    }
    .TransportationField {
        display: flex;
        flex-direction: column;
        margin: 2%;
        width: 96%;
    }

    .Transportation_first {
        width: 100%;
    }

    .Transportation_firstTop>img {
        width: 96%;
    }

    .Transportation_Second {
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .Transportation_firstSec>h2{
        font-size: 16px;
    }
    
    .Transportation_firstSec_But {
        display: flex;
    }

    .Transportation_firstSec_But>button {
        width: 80px;
        height: 35px;
        font-size: 12px;
    }

    .Transportation_firstThird{
        padding-bottom: 12px;
        margin-bottom: 12px;
    }

}