.contact_Div {
    display: flex;
    width: 100%;
    margin-top: 12px;
}

.contactForm {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 0 5%;
    margin: 60px 0;
}

.contactForm>input {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px 16px;
    background: #FFFFFF;
    border: 1px solid #EBEBEB;
    margin: 12px 0;
    outline: none;
}

.contactForm>textarea {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px 16px;
    background: #FFFFFF;
    border: 1px solid #EBEBEB;
    margin: 12px 0;
    margin-bottom: 24px;
    outline: none;
    resize: none;
    height: 200px;
}

.contactForm>button {
    outline: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
    Padding: 12px, 24px;
    width: 120px;
    height: 40px;
    border-color: #35D3E8;
}

.contactSec {
    width: 25%;
    margin-top: 20px;
}

.contactSec_line {
    display: flex;
}

.contactForm>h2 {
    font-family: 'Futura Md BT';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */
    letter-spacing: 0.01em;
    color: #3C3C3C;
    padding: 0;
    margin: 20px;
}

.contactSec>h1 {
    padding: 20px 0;
    font-family: 'Futura Hv BT';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.01em;
    color: #202020;
}

.contactSec_line {
    padding: 4px 0;
}

.contactSec_line>span {
    font-family: 'Futura Md BT';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #202020;
    padding-left: 8px;
}

@media(max-width:600px) {
    .contact_Div {
        display: flex;
        flex-direction: column;
        /* margin-top: 12px; */
    }
    .contactForm {
        width: 100%;
    }
    .contactSec{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-bottom: 30px;
    }
}