
.nav-ul{
    margin:0;
    padding:0;
    display:flex;
  }
  
  .nav-ul .nav-li{
    list-style:none;
    transition:0.5s;
  }
  
  .nav-ul .nav-li a{
    display: block;
    position:relative;
    text-decoration:none;
    transition:0.5s;
  }
  
  .nav-ul:hover .nav-li a{
    transform:scale(1);
  }
  
  .nav-ul .nav-li  a:hover{
    transform:scale(1.2);
    text-decoration:none;
    color:#000 !important;
  }
  
  .nav-ul .nav-li a:before{
    transition:0.5s;
    padding-inline: 1rem;
    z-index:-1;
  }
  
  .nav-ul .nav-li a:hover:before{
    transition:transform 0.5s;
    transform:scaleX(1);
    padding-inline: 1rem;
  }

  .nav-item-active{
    background-color: blue !important;
  }