.GeneralClass {
    margin: 5%;
}

.Divider_line {
    padding: 0;
    margin: 0 30px;
}

.accomodation_head {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 30px;
}

.accomodation_head>span {
    font-size: 28px;
    line-height: 33px;
    font-weight: bold;
    color: #202020;
    padding-right: 12px;
}

.AccomodationField {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
}

.AccomodationFieldDiv {
    font-family: 'Futura Md BT';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #202020;
}

.AccomodationFieldDiv>span {
    font-family: 'Futura Md BT';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #202020;
    padding-left: 12px;
}

.AccomodationFieldDiv>button {
    outline: none;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 12px, 24px;
    margin: 0 12px;
    min-width: 120px;
    height: 40px;
}

.ButtonSend {
    /* padding: 12px, 24px !important; */
    width: 160px;
    border-color: #35D3E8;
}

@media(max-width:600px) {
    .Divider_line {
        padding: 0;
        margin: 5% 0;
    }

    .accomodation_head {
        display: flex;
        flex-direction: column;
        padding: 12px;
        align-items: flex-start;
        padding-bottom: 20px;
        align-items: center;
    }

    .accomodation_head>span {
        padding-bottom: 12px;

    }

    .AccomodationField {
        display: flex;
        align-items: unset;
        flex-direction: column;
        align-items: center;
        padding: 15px 0px;
    }

    .AccomodationFieldDiv {
        display: flex;
        padding: 6px 0;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .AccomodationFieldDiv>button {
        gap: 8px;
        padding: 12px, 24px;
        margin: 0 12px;
        min-width: 70px;
        height: 34px;
        font-size: 12px;
    }
}