*{
  margin: 0;
  padding: 0;
  font-family: 'Futura Md BT', sans-serif;
}

:root {
--light-green: #22F9B8;
--light-blue : #35D3E8;
--linear-gradient : linear-gradient(to right , var(--light-green), var(--light-blue));
--purple-font : #3A245E;
--color-light : rgba(255, 255, 255, 0.6); 
--font-light : #828282;
--transition : all 400ms ease;
--bg-light : #F4F4F4;
}

/* Usefull Common Classes */
.bg-gradient{
background-image: var(--linear-gradient) !important;
}

.border-gradient{
border-image: var(--linear-gradient) 2 !important;
border-width: 2px;
border-style: solid;
background-color: white;
}

img{
width: 100%;
object-fit: cover;
}

.text-boundary {
color: black;
-webkit-text-fill-color: transparent;
-webkit-text-stroke-width: 1px;
-webkit-text-stroke-color: black;
}

.text-gradient{
background: var(--linear-gradient);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}


.center-inside{
display: flex;
align-items: center;
height: 100%;
}

a{
    cursor: pointer;
    text-decoration: none;
    color: black;
}


li{
    list-style-type: none;
}

::-webkit-scrollbar {
width: 0;  
height: 0;
background: transparent;
}

/* ============= Hover Effects ========== */

.hover-zoom{
transition: transform .4s;
}
.hover-zoom:hover{
transform: scale(1.1);
}


/* ========Font Bold Classes============ */
